<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <img src="{{ '/assets/images/sodra_grava_2.jpg' | prepend: site.baseurl }}" alt="" />

    <main class="page-content" aria-label="Content">

      <div class="wrapper">
        {{ content }}
      </div>

      <div class="photo-grid">
        <img src="{{ '/assets/images/sodra_grava_3.jpg' | prepend: site.baseurl }}" alt="" class="photo-grid_image" />
        <img src="{{ '/assets/images/sodra_grava_4.jpg' | prepend: site.baseurl }}" alt="" class="photo-grid_image" />
        <img src="{{ '/assets/images/sodra_grava_5.jpg' | prepend: site.baseurl }}" alt="" class="photo-grid_image" />
        <img src="{{ '/assets/images/sodra_grava_6.jpg' | prepend: site.baseurl }}" alt="" class="photo-grid_image" />
        <img src="{{ '/assets/images/sodra_grava_1.jpg' | prepend: site.baseurl }}" alt="" class="photo-grid_image" />
      </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
